.grid {
    /* background: #00000015; */
    /* box-shadow: 0px 0px 10px #00000015; */
    padding: 20px;
    border-radius: 15px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    /* grid: ; */
}

#grid-wrapper {
    height: 80vh;
    width: 80vh;
}

.button-37 {
    background-color: #16c45e;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
}

.generation-button {
    width: 150px;
    height: 50px;

    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
    font-variant: small-caps;
}

.export-button {
    background-color: #66a2dd;
    border: 1px solid #508cc8;
    position: absolute;
    top: 25px;
    right: 25px;
}

.disabled {
    filter: grayscale(.9);
    pointer-events: none;
}

.disabled-inactive {
    filter: grayscale(.9) brightness(.8);
    pointer-events: none;
}

.settings-sidebar {
    border-radius: 10px;
    padding: 20px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 95%;
    background-color: #00000009;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-settings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.grid-size-btn {
    height: 28px;
    width: 28px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding: 0;
}

#result {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 18px;
    text-align: center;
}

.size-settings>div>.grid> {
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    visibility: hidden;
    background-color: white;
    /* border-radius: 5px; */
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    background-image: radial-gradient(closest-side at center, #ffffff, #00000000);
}

.filled-cell {
    box-shadow: 0px 0px 5px #00000020;
}

.cell>span:not(.cell-number) {
    font-size: 1em;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    color: #343434;
}

.cell-number {
    position: absolute;
    font-size: 50%;
    color: black;
    left: 5%;
    top: 2%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

body {
    background: #5282b3;
    background-image: radial-gradient(closest-side at center, #66a2dd, #5282b3);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

* {
    transition: filter .5s ease;
}

.result-container {
    position: absolute;
    right: 20px;
    top: 130px;
    background-color: #00000015;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-link {
    color: rgb(255, 255, 255);
    font-family: "Source Sans Pro", sans-serif;
    padding: 5px;
    cursor: pointer;
}

.result-link:hover {
    background-color: #37618b;
    border-radius: 5px;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000015;
    visibility: hidden;
}

span {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
}

.hor-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow-button:active {
    scale: 0.9;
}

.arrow-button {
    background-color: #00000000;
    border-width: 0px;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
}

span.selector-counter {
    font-size: 40px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
}

.left-arrow-button::before {
    content: "<";
}

.right-arrow-button::before {
    content: ">";
}