.grid {
    /* background: #00000015; */
    /* box-shadow: 0px 0px 10px #00000015; */
    padding: 20px;
    border-radius: 15px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    /* grid: ; */
}

#grid-wrapper {
    height: 80vh;
    width: 80vh;
}

.generation-button {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 30px;
    top: 20px;

    background-color: #04AA6D;
    border-radius: 10px;
    border-color: rgb(163, 255, 70);

    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
}

.size-settings>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size-settings {
    padding: 10px;
    border-radius: 5px;
    background-color: #00000015;
    width: 150px;
    position: absolute;
    left: 20px;
    top: 80px;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
}

.grid-size-btn {
    height: 28px;
    width: 28px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding: 0;
}

.size-settings>div>.grid> {
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    background-color: white;
    /* border-radius: 5px; */
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative
}

.filled-cell {
    box-shadow: 0px 0px 5px #00000020;
}

.cell>span:not(.cell-number) {
    font-size: 1em;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    color: #343434;
}

.cell-number {
    position: absolute;
    font-size: 50%;
    color: black;
    left: 5%;
    top: 2%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

body {
    background: #5282b3;
    background-image: radial-gradient(closest-side at center, #66a2dd, #5282b3);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000015;
    visibility: hidden;
}

span {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: aliceblue;
}